.NewTodoForm {
  padding: 20px;
}

.NewTodoForm input,
.NewTodoForm button {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #79acfc;
  background: none;
}

.NewTodoForm input {
  transition: 0.2s ease;

  color: white;
  border: 2px solid #79acfc;
}
.NewTodoForm input:focus {
  background: #79acfc;
  color: white;
}
.NewTodoForm button {
  background: none;
  cursor: pointer;
  color: white;
  transition: background 0.2s ease;
}
.NewTodoForm button:hover {
  background: #79acfc;
}
