.Todo {
  background: #2b76ee;
  margin: 10px 0px 0px;
  width: 100%;
}
.Todo-item {
  width: 80%;
  margin: 0 auto;
  min-height: 60px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  color: #79acfc;
}

.Todo-item input {
  height: 2rem;
  padding-left: 10px;
  margin: 1rem 0;
}
.Todo-item input,
.Todo-item button {
  font-size: 18px;
  background: #2b76ee;

  border: 2px solid #79acfc;
  color: white;
  cursor: pointer;
}
.Todo-item button {
  padding: 10px 0px 10px 10px;
  background: none;
  border: none;
  transition: transform 0.2s ease;
}

.Todo-item button:hover {
  transform: scale(1.2);
}

.Todo-buttons {
  margin-top: 12px;
}
