.Todo {
  display: flex;
  background: #2b76ee;
  justify-content: space-between;
  height: 60px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px 0px 0px;
}

.completed {
  text-decoration: line-through;
  color: #79acfc;
}
.Todo input,
.Todo button {
  margin-top: 7px;
  font-size: 18px;
  background: #2b76ee;
  padding: 10px;
  border: 2px solid #79acfc;
  color: white;
  cursor: pointer;
}
.Todo button {
  background: none;
  border: none;

  transition: transform 0.2s ease;
}

.Todo button:hover {
  transform: scale(1.2);
}

.Todo-buttons {
  margin-top: 5px;
}
