.TodoList {
  display: flex;
  flex-direction: column;
  background: #4287f5;
  width: 100%;
  color: white;

  -webkit-box-shadow: -9px -9px 0px 0px #79acfc;
  -moz-box-shadow: -9px -9px 0px 0px #79acfc;
  box-shadow: -9px -9px 0px 0px #79acfc;
  height: 100vh;
  overflow-y: scroll;
}
@media (min-width: 600px) {
  .TodoList {
    width: 500px;
    margin: 50px auto;
    height: 90%;
    overflow-y: hidden;
  }
}
